/* -------------------
    mobile responsive
------------------- */
@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .navbar-nav, .menu, .banner, .future-products-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .text-inner .banner-title{
        font-size: 32px;
        line-height: 42px;
    }
    .banner-img-inner img{
        width: 100%;
    }
    .company-logo-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    .popular-collection-wrappper{
        grid-template-columns: repeat(1, 1fr);
    }
    .future-products-thamnail img{
        width: 100%;
    }
    .future-product-title{
        font-size: 30px;
    }
    .hide{
        display: none;
    }
}