/* ------------------
    google fonts
------------------- */
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Open+Sans:wght@400;500&family=Oswald:wght@200;400;500&family=Poppins:ital,wght@0,300;0,400;0,500;1,500&family=Roboto:ital,wght@0,300;0,400;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&family=Work+Sans:wght@500;600&display=swap');

/* ----------------------------
    common style or utilities
---------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}
.container{
    width: 1140px;
    padding: 25px;
}
header, main, .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ---------------
    header style
--------------- */
/* ----------------
    navbar style
---------------- */
.navbar-nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}
.nav-logo-inner h1{
    color: #3A3A3A;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
ul.menu{
    display: flex;
    gap: 34px;
}
ul.menu li{
    list-style: none;
}
ul.menu li a{
    text-decoration: none;
    color: #3A3A3A;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
/* ------------------
    banner style
------------------ */
.text-inner .banner-title{
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
    line-height: 70px;
}
.text-inner .banner-description{
    font-weight: 600;
    color: #3A3A3A;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
}
.banner-btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    outline: none;
    border: none;
    margin-top: 16px;
    cursor: pointer;
}
.banner{
    display: flex;
    gap: 115px;
    align-items: center;
}
.banner-img-inner{
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
/* ------------------------
    company logo style
------------------------ */
.company-logo-wrapper{
    margin-top: 69px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 52px;
    align-items: center;
    padding: 30px;
    border-top: 1px solid #d5d3d3;
    border-bottom: 1px solid #d5d3d3;
    border-radius: 12px;
}

/* -------------------------------------------
    our popular collection section style
------------------------------------------- */
.our-popular-collection{
    margin-top: 80px;
}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
}
.popular-collection-wrappper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}
.popular-collection{
    width: 329px;
    height: 476px;
    padding: 17px 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.collection-thamnail-inner{
    margin-bottom: 16px;
}
.collection-thamnail-inner img{
    width: 300px;
    height: 256px;
}
.collection-title{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
}
.price{
    color: rgba(0, 0, 0, 0.87);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 6px;
}
.collection-rating{
    color: #FB8200;
    font-size: 12px;
    margin-bottom: 6px;
}
.collection-rating span{
    color: #787885;
    font-size: 12px;
}
.collection-description{
    color: #787885;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}
.see-more-btn{
    color: #E02C6D;
    text-decoration: none;
    text-align:right;
    display: block;
    margin-right: 30px;
    margin-top: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
/* ------------------------------------
    future products section style
------------------------------------ */
.future-products{
    margin-top: 80px;
}
.future-products-wrapper{
    display: flex;
    gap: 65px;
    align-items: center;
}
.future-products-thamnail img{
    width: 404px;
    height: 270px;
}
.future-product-title{
    color: #0A0826;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
}
.future-products-description{
    color: #6C6C6C;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
}
.future-btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    width: 196px;
    height: 44px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin-top: 16px;
    cursor: pointer;
}
/* ---------------------
    footer style added
--------------------- */
.footer{
    background-color: #0A0826;
    color: #FFFFFF;
    padding: 50px;
    margin-top: 80px;
}
.footer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-inner{
    width:262px;
    text-align: center;
}
.footer-title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 3px;
}
.footer-description{
    color: #D9DBE1;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 17px;
}
